doctype
html( lang="en" )
    head
        meta( charset='utf-8' )
        title TODO list
        link(href="../../bower_components/bootstrap/dist/css/bootstrap.min.css")
    body
        input( id='new-todo', type='text')
        button( id='new-todo-btn' ) Enter smth
        ul( class="todos" )

    script( src="jquery.min.js" )
    script( src="bootstrap.min.js" )
    script( src="main.js" )
